<div class="container">
  <h2 id="text-center">Enter Location: </h2>
  <form #locationForm="ngForm" (ngSubmit)="setLocation(locationForm)">

    <input required name="location" #location="ngModel" class="form-control" [(ngModel)]="userLocation">
    <br/>
    <button type="submit" id="submit-button" class="btn btn-primary btn-block" >Submit</button>
    <br/>
  </form>
  <div id="latitude">Latitude: {{locationDetails.latitude}}</div>
  <div id="longitude">Longitude: {{locationDetails.longitude}}</div>
</div>